@import '~@lumx/core/scss/lumx-theme-lumapps.scss';

// Variables
$text-color: #1f2937;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$light-grey: #e5e7eb;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './App/App.scss';
@import './components/Header/index.scss';
@import './components/SearchField/index.scss';
@import './components/Search/index.scss';
@import './components/Hero/index.scss';
@import './components/HeroListItem/index.scss';
@import './components/Pagination/index.scss';



